{% extends 'base.html' %}

{% block content %}


<script src="https://rawcdn.githack.com/zenorocha/clipboard.js/v2.0.10/dist/clipboard.min.js"></script>

<script>
    var clipboard = new ClipboardJS('.btn');

    clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
    });

    clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
    });
</script>
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-7">
            <h1 class="text-center mt-4 mb-4 mt-lg-5 mb-lg-4 text-primary">LazyUrl</h1>
            <div class="input-group mb-4">
                <input id="foo" type="text" class="form-control"
                    value="{{ request.scheme }}://{{ request.get_host }}/{{ short_url }}">
                <button class="btn btn-primary" type="button" id="button-addon2"
                    data-clipboard-target="#foo">Copy</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-3">
        <div class="col-lg-7 text-center text-lg-left">
            Password to manage the short url: <b>{{ password }}</b>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-3">
        <div class="col-lg-7 text-center text-lg-left">
            To delete the URL type in the address bar: <b>{{ request.scheme }}://{{ request.get_host }}/{{ short_url }}<span class="text-danger">/d/{{ password }}</span></b>
        </div>
    </div>
    <div class="row justify-content-lg-center">
        <div class="col-lg-7 text-center text-lg-left">
            To get information, type in the address bar: <b>{{ request.scheme }}://{{ request.get_host }}/{{ short_url }}<span class="text-danger">/i/{{ password }}</span></b>
        </div>
    </div>
</div>


{% endblock content%}