{% extends 'base.html' %}

{% block title %}<title>Short URL's information</title>{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <h1 class="text-center mt-4 mb-3 mt-lg-5 mb-lg-4"><a href="{% url 'index-view' %}">LazyUrl</a></h1>   
        </div>
    </div>
    <div class="row justify-content-lg-center mb-2">
        <div class="col-lg-7">
            <h6 class="text-center">URL created at: {{ url_created }}</h6>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-2">
        <div class="col-lg-7">
            <h6 class="text-center">Target URL: <a href="{{ long_url }}">{{ long_url|truncatechars:45 }}</a></h6>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-2">
        <div class="col-lg-7">
            <h6 class="text-center">Clicks on the shortened URL: {{ short_url_clicks }}</h6>
            <h6 class="text-center">Сlicks on the target URL on the intermediate page: {{ long_url_clicks }}</h6>
        </div>
    </div>

</div>
{% endblock content %}