{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <h1 class="text-center mt-4 mb-3 mt-lg-5 mb-lg-4 text-primary">LazyUrl</h1>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-5">
        <div class="col-lg-7">
            <p class="text-justify">{{ text|safe }}</p>
            <p>By shortening URLs using the service, you agree to our <a href="{% url 'terms-of-use'%}">Terms of
                    Use</a>.</p>
        </div>
    </div>
</div>


<br>
<br>

{% include 'form.html' %}
{% endblock content %}