{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Terms of Use</title>{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <h1 class="text-center mt-4 mb-4 mt-lg-5 mb-lg-4"><a href="{% url 'index-view' %}">LazyUrl</a></h1>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-5">
        <div class="col-lg-7">
            <p class="text-justify"><b>The service lzy.su operates in the legal field of the Russian Federation,
                therefore the following text is available only in Russian.</b>
            </p>
            <ol>
                <li>
                    Сервис сокращения ссылок lzy.su осуществляет свою деятельность строго соблюдая законодательство
                    Российской Федерации.
                </li>
                <li>
                    Запрещается сокращать ссылки ведущие:
                    <ul>
                        <li> на сайты с детской порнографией</li>
                        <li>на сайты пропагандирующие насилие, шокирующие видео, национальную рознь и суицид</li>
                        <li>на сайты пропагандирующие нетрадиционные сексуальные отношения и (или) предпочтения, смену
                            пола</li>
                        <li>на сайты распространяющие вирусное программное обеспечение</li>
                        <li>на сайты содержащие экстремистские материалы</li>
                        <li>на сайты, которые рекламируют различные противозаконные товары и услуги</li>
                        <li>на сайты любым другим образом нарушающие законодательство Российской Федерации</li>
                    </ul>
                </li>
                <li>Сокращая и распространяя короткие ссылки ведущие на сайты запрещенные настоящими правилами
                    пользователь
                    несёт персональную ответственность.</li>
                <li>Жалобы на короткие ссылки созданные с помощью сервиса lzy.su ведущее на сайты запрещённые настоящими
                    правилами можно отправлять по адресу contact@lzy.su</li>
            </ol>
        </div>
    </div>
</div>
{% endblock content %}