{% extends 'base.html' %}

{% block title %}<title>Requested page not found</title>{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <h1 class="text-center mt-2 mt-lg-5 mb-lg-4"><a href="{% url 'index-view' %}">LazyUrl</a></h1>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-2">
        <div class="col-lg-7">
            <h1 class="text-center text-info">Error 404, requested page not found.</h1>
        </div>
        <div class="col-lg-7 mt-5 text-center">
            If you landed on this page while trying to shorten a URL, make sure you paste the long URL in the following
            format: <span class="text-danger">https://</span><span class="text-primary">google.com</span>
        </div>
    </div>
</div>
{% endblock content %}