{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'bootstrap.mini.css' %}"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% block title %}<title>Shorten URLs in a lazy way</title>{% endblock title %}
</head>

<body>
    {% include 'yandex_metrika.html' %}
    <div class="content">
        {% block content %}{% endblock content %}
    </div>

    <footer class="footer mt-2">
        <hr>
        <div class="container my-2">
            <div class="d-flex justify-content-between">

                <div class="footer-right">
                    <!-- Place this tag where you want the button to render. -->
                    <a class="github-button" href="https://github.com/YuriyCherniy/lzy.su" data-size="large"
                        aria-label="Star YuriyCherniy/lzy.su on GitHub">lzy.su</a>
                </div>

                <div class="footer-left">
                    <a href="{% url 'terms-of-use' %}" class="text-secondary">Terms of Use</a>
                </div>

            </div>
        </div>
    </footer>
</body>

</html>