{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <h1 class="text-center mt-4 mb-3 mt-lg-5 mb-lg-4 text-primary">LazyUrl</h1>
        </div>
    </div>
    <div class="row justify-content-lg-center mb-5">
        <div class="col-lg-7">
            <p class="text-justify">
                This site has been created to offer a new way to create and manage short URLs. To create one, just type
                <b>lzy.su/</b> before URL in your browser's address bar, wherever you are.</p>
            
            <p class="text-justify">
                For example: <b><span class="text-primary">lzy.su/</span><span
                        class="text-danger">https://google.com</span></b> and you will get short version of the URL. Yes
                it sounds unusual but if you try it out, you will like it.</p>
            
            <p class="text-justify">
                You can also delete the short URL and get some statistics typing commands in the address bar. Just
                create one LazyUrl and you will find out more.</p>

            <p class="text-justify">By shortening URLs using the service, you agree to the <a
                    href="{% url 'terms-of-use'%}">Terms of Use</a>.</p>
        </div>
    </div>
</div>


<br>

{% include 'form.html' %}
{% endblock content %}