{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Terms of Use</title>{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-lg-center">
        <div class="col-lg-6">
            <h1 class="text-center mt-4 mb-4 mt-lg-5 mb-lg-4"><a href="{% url 'index-view' %}">LazyUrl</a></h1>
        </div>
    </div>


    <div class="row justify-content-lg-center mb-3">
        <div class="col-lg-7">
            <p class="text-justify"><b>The service lzy.su operates in the legal field of the Russian Federation,
                    therefore the following terms of use are available only in Russian.</b>
            </p>
        </div>
    </div>



    <div class="row justify-content-lg-center">
        <div class="col-lg-7">
            <h3 class="text-center">Условия использования сервиса lzy.su</h3>
        </div>
    </div>



    <div class="row justify-content-lg-center mb-5">
        <div class="col-lg-7">
            <ol>
                <li>
                    Сервис сокращения ссылок lzy.su осуществляет свою деятельность строго в соответствии с законодательством
                    Российской Федерации.
                </li>
                <li>
                    Запрещается сокращать ссылки ведущие:
                    <ul>
                        <li> на сайты с детской порнографией</li>
                        <li>на сайты пропагандирующие насилие, шокирующие видео, национальную рознь и суицид</li>
                        <li>на сайты пропагандирующие нетрадиционные сексуальные отношения и (или) предпочтения, смену
                            пола</li>
                        <li>на сайты распространяющие вирусное программное обеспечение</li>
                        <li>на сайты содержащие экстремистские материалы</li>
                        <li>на сайты, которые рекламируют различные противозаконные товары и услуги</li>
                        <li>на сайты любым другим образом нарушающие законодательство Российской Федерации</li>
                    </ul>
                </li>
                <li>
                    Администрация сервиса lzy.su не является владельцем контента, доступного по сокращенным ссылкам и не хранит его.
                </li>
                <li>За сокращение и распространение коротких ссылкок созданных с помощью сервиса lzy.su ведущие на сайты
                    запрещенные настоящими правилами и (или) законодательством Российской Федерации пользователь несёт персональную ответственность.</li>
                <li>Жалобы на короткие ссылки созданные с помощью сервиса lzy.su ведущее на сайты запрещённые настоящими
                    правилами и (или) законодательством Российской Федерации принимаются по адресу info@lzy.su.</li>
                <li>Администрация сервиса lzy.su не несёт ответственность за действия пользователя нарушевшего настоящие
                    правила и (или) законодательство Российской Федерации используя сервис lzy.su.</li>
                <li>Сервис lzy.su предоставляется на условиях «как есть», не даются какие-либо
                    гарантии, что cервис будет соответствовать каким-либо требованиям и ожиданиям пользователя.</li>
                <li>Настоящие правила могут быть изменены без предварительного уведомления. Новая редакция правил
                    вступает в силу с момента ее публикации.</li>
                <li>Используя сервис lzy.su пользователь однозначно и безоговорочно соглашается с настоящими правилами.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock content %}